.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.errorInput {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 14px;
}
